<% include header %>
<% include menu %>
<form action="/admin-ui/password" method="post">
 <fieldset>
<div class="container form-group">
<div class="col-lg-6">
  <h4>Change password here :</h1><br>

     <label for = "old_password">Old Password</label>
     <input type="password" class="form-control " name="old_password">
     <br>
     <label for = "new_password">New Password</label>
     <input type="password" class="form-control " name="new_password">
     <br>
     <label for = "confirm_password">Confirm Password</label>
     <input type="password" class="form-control " name="confirm_password">
     <br>
  <input type="submit" value="Submit" class="btn btn-sm btn-primary">
</div>
</div>
</fieldset>
</form>
<% include footer %>
