<% include header %>
<% include menu %>
<form action="/admin-ui/password" method="post">
<div class="container">

  New password: <input type="password" name="new_password"><br>
  <input type="submit" value="Submit">

</div> <!-- /container -->
</form>
<% include footer %>
